.facebook {
  width: 96px;
  height: 96px;
}

.google-plus {
  width: 96px;
  height: 96px;
}

.mail {
  width: 511.626px;
  height: 511.626px;
}

.pinterest {
  width: 310.05px;
  height: 310.05px;
}

.smartphone {
  width: 35px;
  height: 35px;
}

.twitter {
  width: 612px;
  height: 612px;
}

